# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Python distribution/build files
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

data/processed/sales_clean.csv